Repository informalsystems/tendermint-rs, pull requests merged in 2020-09, with the labels that each got.

#547 Testgen tester -- utilities to run multiple tests with logs and reports
  CHANGELOG.md
  light-client/src/tests.rs
  light-client/tests/light_client.rs
  light-client/tests/supervisor.rs
  testgen/Cargo.toml
  testgen/src/tester.rs
Labels: enhancement, tests

#549 Testgen external commands
  testgen/jsonatr-lib/apalache-tendermint.json
  testgen/jsonatr-lib/apalache_to_lite_test.json
  testgen/jsonatr-lib/tendermint.json
  testgen/jsonatr-lib/unix.json
  testgen/src/apalache.rs
  testgen/src/command.rs
  testgen/src/jsonatr.rs
  testgen/src/lib.rs
Labels: enhancement, tests

#548 Testgen -- add abstract time and various other updates
  testgen/bin/tendermint-testgen.rs
  testgen/src/commit.rs
  testgen/src/header.rs
  testgen/src/helpers.rs
  testgen/src/lib.rs
  testgen/src/time.rs
  testgen/src/validator.rs
  testgen/src/vote.rs
Labels: tests

#550 Model-based test driver for LightClient
  light-client/tests/model_based.rs
  light-client/tests/support/model_based/Abstract.md
  light-client/tests/support/model_based/Blockchain_A_1.tla
  light-client/tests/support/model_based/LightClientMBT.png
  light-client/tests/support/model_based/LightTests.tla
  light-client/tests/support/model_based/Lightclient_A_1.tla
  light-client/tests/support/model_based/MC4_4_faulty.json
  light-client/tests/support/model_based/MC4_4_faulty.tla
  light-client/tests/support/model_based/README.md
  light-client/tests/support/model_based/_jsonatr-lib
Labels: enhancement, light-client, tests, verification

#552 light client: Remove commented-out precondition and re-enable internal ones
  light-client/src/components/io.rs
  light-client/src/evidence.rs
  light-client/src/light_client.rs
  light-client/src/state.rs
Labels: light-client

#569 rpc: Simplify client interface
  docs/architecture/adr-008-event-subscription.md
  light-client/Cargo.toml
  light-node/Cargo.toml
  rpc/Cargo.toml
  rpc/src/client.rs
  rpc/src/client/subscription.rs
  rpc/src/client/transport.rs
  rpc/src/client/transport/http.rs
  rpc/src/client/transport/mock.rs
  rpc/src/client/transport/mock/subscription.rs
  rpc/src/client/transport/websocket.rs
  rpc/src/error.rs
  rpc/src/id.rs
  rpc/src/lib.rs
  rpc/src/request.rs
  tendermint/Cargo.toml
  tendermint/tests/integration.rs
Labels: rpc

#496 TLA+: Forking cases for tendermint
  docs/spec/tendermint-fork-cases/001indinv-apalache.csv
  docs/spec/tendermint-fork-cases/001indinv-apalache.ini
  docs/spec/tendermint-fork-cases/MC_n10_f3.tla
  docs/spec/tendermint-fork-cases/MC_n10_f4.tla
  docs/spec/tendermint-fork-cases/MC_n4_f1.tla
  docs/spec/tendermint-fork-cases/MC_n4_f2.tla
  docs/spec/tendermint-fork-cases/MC_n4_f3.tla
  docs/spec/tendermint-fork-cases/MC_n5_f1.tla
  docs/spec/tendermint-fork-cases/MC_n5_f2.tla
  docs/spec/tendermint-fork-cases/MC_n7_f2.tla
  docs/spec/tendermint-fork-cases/MC_n7_f3.tla
  docs/spec/tendermint-fork-cases/MC_n7_f4.tla
  docs/spec/tendermint-fork-cases/README.md
  docs/spec/tendermint-fork-cases/TendermintAcc3.tla
  docs/spec/tendermint-fork-cases/TendermintAccDebug3.tla
  docs/spec/tendermint-fork-cases/TendermintAccInv3.tla
  docs/spec/tendermint-fork-cases/apalache.properties
  docs/spec/tendermint-fork-cases/counterexample-vc0-w1.tla
  docs/spec/tendermint-fork-cases/counterexample-vc0-w2.tla
  docs/spec/tendermint-fork-cases/counterexample-vc0-w3.tla
  docs/spec/tendermint-fork-cases/counterexample-vc31-w1.tla
  docs/spec/tendermint-fork-cases/counterexample.tla
  docs/spec/tendermint-fork-cases/results/001indinv-apalache-card.csv
  docs/spec/tendermint-fork-cases/results/001indinv-apalache-mem-log.svg
  docs/spec/tendermint-fork-cases/results/001indinv-apalache-mem.svg
  docs/spec/tendermint-fork-cases/results/001indinv-apalache-ncells.svg
  docs/spec/tendermint-fork-cases/results/001indinv-apalache-nclauses.svg
  docs/spec/tendermint-fork-cases/results/001indinv-apalache-report.md
  docs/spec/tendermint-fork-cases/results/001indinv-apalache-time-log.svg
  docs/spec/tendermint-fork-cases/results/001indinv-apalache-time.svg
  docs/spec/tendermint-fork-cases/results/001indinv-apalache-unstable.csv
  docs/spec/tendermint-fork-cases/run.sh
Labels: tla+

#546 Changes to TLA+ specs for model-based testing
  light-client/tests/model_based.rs
  light-client/tests/support/model_based/Blockchain_002_draft.tla
  light-client/tests/support/model_based/Blockchain_A_1.tla
  light-client/tests/support/model_based/LightTests.tla
  light-client/tests/support/model_based/Lightclient_002_draft.tla
  light-client/tests/support/model_based/Lightclient_A_1.tla
  light-client/tests/support/model_based/MC4_4_faulty.tla
  testgen/src/apalache.rs
  testgen/src/tester.rs
Labels: light-client, tests, verification

#551 Model-based tests for LightClient
  CHANGELOG.md
  light-client/tests/model_based.rs
  light-client/tests/support/model_based/Abstract.md
  light-client/tests/support/model_based/LightTests.tla
  light-client/tests/support/model_based/MC4_4_faulty.json
  light-client/tests/support/model_based/README.md
  light-client/tests/support/model_based/single_step/MC4_4_faulty_Test2NotEnoughTrustFailure.json
  light-client/tests/support/model_based/single_step/MC4_4_faulty_Test2NotEnoughTrustFailure.tla
  light-client/tests/support/model_based/single_step/MC4_4_faulty_Test2NotEnoughTrustSuccess.json
  light-client/tests/support/model_based/single_step/MC4_4_faulty_Test2NotEnoughTrustSuccess.tla
  light-client/tests/support/model_based/single_step/MC4_4_faulty_Test3NotEnoughTrustFailure.json
  light-client/tests/support/model_based/single_step/MC4_4_faulty_Test3NotEnoughTrustFailure.tla
  light-client/tests/support/model_based/single_step/MC4_4_faulty_Test3NotEnoughTrustSuccess.json
  light-client/tests/support/model_based/single_step/MC4_4_faulty_Test3NotEnoughTrustSuccess.tla
  light-client/tests/support/model_based/single_step/MC4_4_faulty_TestFailure.json
  light-client/tests/support/model_based/single_step/MC4_4_faulty_TestFailure.tla
  light-client/tests/support/model_based/single_step/MC4_4_faulty_TestHeaderFromFuture.json
  light-client/tests/support/model_based/single_step/MC4_4_faulty_TestHeaderFromFuture.tla
  light-client/tests/support/model_based/single_step/MC4_4_faulty_TestSuccess.json
  light-client/tests/support/model_based/single_step/MC4_4_faulty_TestSuccess.tla
  light-client/tests/support/model_based/single_step/MC4_4_faulty_TestUntrustedBeforeTrusted.json
  light-client/tests/support/model_based/single_step/MC4_4_faulty_TestUntrustedBeforeTrusted.tla
  light-client/tests/support/model_based/single_step/MC4_4_faulty_TestValsetDifferentAllSteps.json
  light-client/tests/support/model_based/single_step/MC4_4_faulty_TestValsetDifferentAllSteps.tla
  testgen/src/tester.rs
Labels: light-client, tests

#591 rpc: Add WebSocket keepalive mechanism and timeout
  rpc/src/client/transport/websocket.rs
Labels: rpc
