Repository informalsystems/tendermint-rs, pull requests merged in 2020-10, with the labels that each got.

#614 rpc: Add integration test showing management of concurrent subscriptions
  tendermint/tests/integration.rs
Labels: rpc, tests

#609 light-client: Add testing-related documentation
  light-client/README.md
  light-client/tests/support/model_based/README.md
Labels: documentation, light-client

#584 rpc: Add structured querying for event subscriptions
  CHANGELOG.md
  rpc/Cargo.toml
  rpc/src/client/subscription.rs
  rpc/src/client/transport/mock/subscription.rs
  rpc/src/client/transport/websocket.rs
  rpc/src/event.rs
  rpc/src/lib.rs
  rpc/src/query.rs
  rpc/tests/support/event_new_block_1.json
  rpc/tests/support/event_new_block_2.json
  rpc/tests/support/event_new_block_3.json
  tendermint/tests/integration.rs
Labels: rpc

#622 serialization: Supply default value for app version if field is missing in JSON
  tendermint/src/block/header.rs
Labels: serialization

#623 serialization: Simplify block header version app default
  tendermint/src/block/header.rs
Labels: serialization

#636 rpc: Expose RPC request/response fields publicly
  CHANGELOG.md
  rpc/src/endpoint/abci_query.rs
  rpc/src/endpoint/block.rs
  rpc/src/endpoint/block_results.rs
  rpc/src/endpoint/blockchain.rs
  rpc/src/endpoint/commit.rs
  rpc/src/endpoint/net_info.rs
  rpc/src/endpoint/validators.rs
Labels: rpc

#642 docs: Update Tendermint/Rust versions in READMEs
  README.md
  proto/README.md
Labels: documentation
