Repository informalsystems/tendermint-rs, pull requests merged in 2020-07, with the labels that each got.

#401 light-client: turn Handle into a trait
  CHANGES.md
  light-client/examples/light_client.rs
  light-client/src/supervisor.rs
Labels: enhancement, light-client

#397 Rework PeerList, improve its API, and fix a bug in `swap_primary`
  light-client/src/peer_list.rs
  light-client/src/supervisor.rs
Labels: light-client

#402 [ADR] Light Client Supervisor Ergonomics
  docs/architecture/adr-007-light-client-supervisor-ergonomics.md
Labels: documentation, light-client

#408 chore: remove redundant field name
  light-client/src/predicates.rs
Labels: ci, enhancement, light-client

#403 light-client: improve supervisor ergonomics
  CHANGES.md
  docs/architecture/adr-007-light-client-supervisor-ergonomics.md
  light-client/examples/light_client.rs
  light-client/src/callback.rs
  light-client/src/errors.rs
  light-client/src/lib.rs
  light-client/src/supervisor.rs
Labels: enhancement, light-client

#407 Fetch latest trusted or verified block from the store as latest trusted state
  light-client/examples/light_client.rs
  light-client/src/components/scheduler.rs
  light-client/src/light_client.rs
  light-client/src/store.rs
  light-client/src/store/memory.rs
  light-client/src/store/sled.rs
  light-client/src/supervisor.rs
  light-client/tests/light_client.rs
Labels: light-client

#371 Multi-peer conformance tests
  light-client/src/components/scheduler.rs
  light-client/src/tests.rs
  light-client/tests/light_client.rs
  light-client/tests/supervisor.rs
  tendermint/tests/support/lite/bisection/multi_peer/conflicting_valid_commits_from_one_of_the_witnesses.json
Labels: light-client

#363 light-node: RPC server
  light-client/src/components/scheduler.rs
  light-node/Cargo.toml
  light-node/examples/rpc.rs
  light-node/src/error.rs
  light-node/src/lib.rs
  light-node/src/rpc.rs
Labels: light-client, rpc

#413 light-node: track underlying IO errors
  light-node/src/error.rs
  light-node/src/rpc.rs
Labels: enhancement

#419 light-client: treat `Trusted` status as a special case of `Verified` as per the spec
  CHANGES.md
  light-client/src/contracts.rs
  light-client/src/errors.rs
  light-client/src/fork_detector.rs
  light-client/src/lib.rs
  light-client/src/light_client.rs
  light-client/src/std_ext.rs
  light-client/src/store.rs
  light-client/src/types.rs
Labels: light-client

#431 light-client: integration test
  .github/workflows/rust.yml
  CHANGES.md
  light-client/examples/light_client.rs
  light-client/src/components/verifier.rs
  light-client/src/evidence.rs
  light-client/src/light_client.rs
  light-client/src/predicates.rs
  light-client/tests/integration.rs
  light-client/tests/light_client.rs
  light-client/tests/supervisor.rs
Labels: light-client, tests

#432 abci: fix rpc response deserialization
  rpc/tests/support/block_results.json
  tendermint/src/abci/responses.rs
  tendermint/src/serializers.rs
  tendermint/src/serializers/custom.rs
Labels: abci, bug

#438 Fix header.hash for height 1
  light-client/src/operations/hasher.rs
  rpc/tests/integration.rs
  rpc/tests/support/commit_1.json
  tendermint/src/lite_impl/header.rs
Labels: bug, go, rpc, serialization

#430 light-node: cli
  light-node/Cargo.toml
  light-node/README.md
  light-node/examples/rpc.rs
  light-node/light_node.toml.example
  light-node/src/bin/light-node/main.rs
  light-node/src/commands.rs
  light-node/src/commands/initialize.rs
  light-node/src/commands/start.rs
  light-node/src/config.rs
  light-node/tests/acceptance.rs
Labels: documentation, feature, light-client

#424 Requirements for Fork Detection in IBC + Accountability
  docs/spec/lightclient/detection/req-ibc-detection.md
Labels: documentation, light-client
