Repository informalsystems/tendermint-rs, pull requests merged in 2020-11, with the labels that each got.

#657 Perform signers overlap check last
  CHANGELOG.md
  light-client/src/predicates.rs
Labels: light-client

#672 proto: Rename DomainType trait to Protobuf
  CHANGELOG.md
  proto/src/domaintype.rs
  proto/src/error.rs
  proto/src/lib.rs
  proto/tests/unit.rs
  tendermint/src/account.rs
  tendermint/src/block.rs
  tendermint/src/block/header.rs
  tendermint/src/block/height.rs
  tendermint/src/block/id.rs
  tendermint/src/block/parts.rs
  tendermint/src/block/size.rs
  tendermint/src/chain/id.rs
  tendermint/src/consensus/params.rs
  tendermint/src/evidence.rs
  tendermint/src/hash.rs
  tendermint/src/merkle/proof.rs
  tendermint/src/proposal.rs
  tendermint/src/proposal/canonical_proposal.rs
  tendermint/src/proposal/msg_type.rs
  tendermint/src/proposal/sign_proposal.rs
  tendermint/src/public_key.rs
  tendermint/src/public_key/pub_key_request.rs
  tendermint/src/public_key/pub_key_response.rs
  tendermint/src/signature.rs
  tendermint/src/time.rs
  tendermint/src/validator.rs
  tendermint/src/vote.rs
  tendermint/src/vote/canonical_vote.rs
  tendermint/src/vote/sign_vote.rs
Labels: serialization

#653 rpc: Add probe to capture responses from Tendermint RPC for use in testing
  .gitignore
  CHANGELOG.md
  Cargo.toml
  rpc-probe/Cargo.toml
  rpc-probe/README.md
  rpc-probe/run-with-docker.sh
  rpc-probe/src/client.rs
  rpc-probe/src/error.rs
  rpc-probe/src/kvstore.rs
  rpc-probe/src/main.rs
  rpc-probe/src/plan.rs
  rpc-probe/src/quick.rs
  rpc-probe/src/request.rs
  rpc-probe/src/subscription.rs
  rpc-probe/src/utils.rs
Labels: rpc, tests

#689 light-client: Only require Tokio when `rpc-client` feature is enabled
  CHANGELOG.md
  light-client/Cargo.toml
Labels: light-client
