Repository informalsystems/tendermint-rs, pull requests merged in 2020-06, with the labels that each got.

#284 Light Client: Follow-up
  light-client/Cargo.toml
  light-client/examples/light_client.rs
  light-client/src/components.rs
  light-client/src/components/fork_detector.rs
  light-client/src/components/io.rs
  light-client/src/components/scheduler.rs
  light-client/src/components/verifier.rs
  light-client/src/contracts.rs
  light-client/src/errors.rs
  light-client/src/lib.rs
  light-client/src/light_client.rs
  light-client/src/macros.rs
  light-client/src/predicates.rs
  light-client/src/predicates/errors.rs
  light-client/src/prelude.rs
  light-client/src/state.rs
  light-client/src/store.rs
  light-client/src/store/sled.rs
  light-client/src/store/sled/utils.rs
  light-client/src/tests.rs
  light-client/src/types.rs
  light-client/tests/light_client.rs
  tendermint/src/lite/types.rs
Labels: light-client

#302 [light-client] Supervisor
  light-client/Cargo.toml
  light-client/examples/light_client.rs
  light-client/src/callback.rs
  light-client/src/components.rs
  light-client/src/components/clock.rs
  light-client/src/components/fork_detector.rs
  light-client/src/components/io.rs
  light-client/src/components/scheduler.rs
  light-client/src/components/verifier.rs
  light-client/src/contracts.rs
  light-client/src/errors.rs
  light-client/src/fork_detector.rs
  light-client/src/lib.rs
  light-client/src/light_client.rs
  light-client/src/operations/commit_validator.rs
  light-client/src/operations/header_hasher.rs
  light-client/src/operations/voting_power.rs
  light-client/src/peer_list.rs
  light-client/src/predicates.rs
  light-client/src/predicates/errors.rs
  light-client/src/prelude.rs
  light-client/src/state.rs
  light-client/src/store.rs
  light-client/src/store/memory.rs
  light-client/src/store/sled.rs
  light-client/src/supervisor.rs
  light-client/src/tests.rs
  light-client/tests/light_client.rs
  tendermint/src/rpc/client.rs
Labels: light-client

#327 Supervisor follow-up
  light-client/examples/light_client.rs
  light-client/src/components/io.rs
  light-client/src/components/scheduler.rs
  light-client/src/errors.rs
  light-client/src/light_client.rs
  light-client/src/peer_list.rs
  light-client/src/store.rs
  light-client/src/store/memory.rs
  light-client/src/store/sled.rs
  light-client/src/supervisor.rs
  light-client/tests/light_client.rs
Labels: light-client

#343 rpc: guard client with feature flag
  light-node/Cargo.toml
  rpc/Cargo.toml
  rpc/src/client.rs
  rpc/src/client/event_listener.rs
  rpc/src/error.rs
  rpc/src/lib.rs
  tendermint/Cargo.toml
Labels: dependencies, enhancement, rpc

#350 consistent versioning across crates
  light-client/Cargo.toml
Labels: dependencies, enhancement

#336 Light Client: Evidence reporting
  light-client/Cargo.toml
  light-client/examples/light_client.rs
  light-client/src/evidence.rs
  light-client/src/fork_detector.rs
  light-client/src/lib.rs
  light-client/src/supervisor.rs
  rpc/src/client.rs
  rpc/src/endpoint.rs
  rpc/src/endpoint/evidence.rs
  rpc/src/method.rs
  rpc/tests/integration.rs
  tendermint/src/evidence.rs
Labels: light-client

#360 Move ValidatorSet::hash method over the HeaderHasher trait
  light-client/src/components/verifier.rs
  light-client/src/fork_detector.rs
  light-client/src/operations.rs
  light-client/src/operations/commit_validator.rs
  light-client/src/operations/hasher.rs
  light-client/src/operations/voting_power.rs
  light-client/src/predicates.rs
Labels: light-client

#364 Simplify basic bisecting scheduler logic
  light-client/src/components/scheduler.rs
Labels: light-client

#314 Light Client TLA+ Specification
  docs/spec/lightclient/001bmc-apalache.csv
  docs/spec/lightclient/Blockchain_A_1.tla
  docs/spec/lightclient/Lightclient_A_1.tla
  docs/spec/lightclient/MC4_3_correct.tla
  docs/spec/lightclient/MC4_3_faulty.tla
  docs/spec/lightclient/MC4_4_faulty.tla
  docs/spec/lightclient/MC4_5_correct.tla
  docs/spec/lightclient/MC4_5_faulty.tla
  docs/spec/lightclient/MC4_6_faulty.tla
  docs/spec/lightclient/MC4_7_faulty.tla
  docs/spec/lightclient/MC5_5_correct.tla
  docs/spec/lightclient/MC5_5_faulty.tla
  docs/spec/lightclient/MC5_7_faulty.tla
  docs/spec/lightclient/MC7_5_faulty.tla
  docs/spec/lightclient/MC7_7_faulty.tla
Labels: light-client

#365 Fix exit condition in `verify_to_target`
  light-client/src/errors.rs
  light-client/src/light_client.rs
  light-client/tests/light_client.rs
Labels: light-client

#287 Lightclient detection English Spec draft
  docs/spec/lightclient/detection.md
  docs/spec/lightclient/verification.md
Labels: light-client

#340 Draft spec for targetHeight < LatestVerified
  docs/spec/lightclient/verification.md
Labels: light-client

#375 Introduce a `Trusted` status for light blocks which passed fork detection
  light-client/examples/light_client.rs
  light-client/src/components/io.rs
  light-client/src/components/scheduler.rs
  light-client/src/contracts.rs
  light-client/src/errors.rs
  light-client/src/fork_detector.rs
  light-client/src/light_client.rs
  light-client/src/predicates/errors.rs
  light-client/src/state.rs
  light-client/src/store.rs
  light-client/src/store/memory.rs
  light-client/src/store/sled.rs
  light-client/src/supervisor.rs
  light-client/src/types.rs
  light-client/tests/light_client.rs
Labels: light-client

#383 Add JSON-based unit tests for VotingPowerCalculator
  light-client/src/operations/voting_power.rs
  tendermint/tests/support/lite/voting_power/1_empty_signatures.json
  tendermint/tests/support/lite/voting_power/2_1_all_signatures_absent.json
  tendermint/tests/support/lite/voting_power/2_2_all_signatures_nil.json
  tendermint/tests/support/lite/voting_power/3_1_one_invalid_signature.json
  tendermint/tests/support/lite/voting_power/3_2_all_signatures_invalid.json
  tendermint/tests/support/lite/voting_power/4_1_missing_a_signature_in_commit.json
  tendermint/tests/support/lite/voting_power/4_2_extra_signature_in_commit.json
  tendermint/tests/support/lite/voting_power/5_1_all_signatures_from_same_validator.json
  tendermint/tests/support/lite/voting_power/5_1_validator_voted_twice.json
  tendermint/tests/support/lite/voting_power/7_signatures_from_diff_valset.json
Labels: light-client

#185 [ADR] Light Client Architecture
  docs/architecture/adr-006-light-client-refactor.md
  docs/architecture/assets/light-client-concurrency.png
  docs/architecture/assets/light-client-decomposition.png
  docs/architecture/assets/light-client-detection-flow.png
  docs/architecture/assets/light-client-state.png
  docs/architecture/assets/light-client-verification-flow.png
Labels: light-client

#394 light-client: expose latest_trusted on Supervisor Handle
  CHANGES.md
  light-client/src/errors.rs
  light-client/src/supervisor.rs
Labels: feature, light-client
