Repository informalsystems/tendermint-rs, pull requests merged in 2020-08, with the labels that each got.

#479 spec: Fork Detector + Evidence (proof of fork) for discussion.
  docs/spec/lightclient/detection/README.md
  docs/spec/lightclient/detection/detection.md
  docs/spec/lightclient/detection/discussions.md
  docs/spec/lightclient/detection/draft-functions.md
  docs/spec/lightclient/detection/req-ibc-detection.md
  docs/spec/lightclient/verification/verification.md
Labels: enhancement, spec

#508 proto: bootstrap crate
  .codecov.yml
  CHANGELOG.md
  Cargo.toml
  light-client/src/predicates.rs
  light-node/light_node.toml
  proto-compiler/.gitignore
  proto-compiler/Cargo.toml
  proto-compiler/README.md
  proto-compiler/build.rs
  proto-compiler/src/main.rs
  proto/Cargo.toml
  proto/README.md
  proto/src/lib.rs
  proto/src/prost/gogoproto.rs
  proto/src/prost/google.protobuf.rs
  proto/src/prost/tendermint.abci.rs
  proto/src/prost/tendermint.blockchain.rs
  proto/src/prost/tendermint.consensus.rs
  proto/src/prost/tendermint.crypto.rs
  proto/src/prost/tendermint.evidence.rs
  proto/src/prost/tendermint.libs.bits.rs
  proto/src/prost/tendermint.mempool.rs
  proto/src/prost/tendermint.p2p.rs
  proto/src/prost/tendermint.privval.rs
  proto/src/prost/tendermint.rpc.grpc.rs
  proto/src/prost/tendermint.state.rs
  proto/src/prost/tendermint.statesync.rs
  proto/src/prost/tendermint.store.rs
  proto/src/prost/tendermint.types.rs
  proto/src/prost/tendermint.version.rs
  proto/tests/unit.rs
  testgen/src/commit.rs
  testgen/src/consensus.rs
Labels: go, serialization, structure

#514 merkle: return rfc6962 hash for empty merkle tree
  light-client/tests/light_client.rs
  light-client/tests/supervisor.rs
  tendermint/src/merkle.rs
Labels: breaking, bug, go

#522 Replace `signatory` with `ed25519-dalek` and `k256` crates
  light-client/src/operations/voting_power.rs
  light-client/src/predicates/errors.rs
  tendermint/Cargo.toml
  tendermint/src/account.rs
  tendermint/src/amino_types/ed25519.rs
  tendermint/src/amino_types/proposal.rs
  tendermint/src/amino_types/signature.rs
  tendermint/src/amino_types/vote.rs
  tendermint/src/config/node_key.rs
  tendermint/src/lib.rs
  tendermint/src/node/id.rs
  tendermint/src/private_key.rs
  tendermint/src/public_key.rs
  tendermint/src/serializers/tests.rs
  tendermint/src/signature.rs
  tendermint/src/validator.rs
  tendermint/src/vote.rs
  testgen/Cargo.toml
  testgen/src/commit.rs
  testgen/src/helpers.rs
  testgen/src/validator.rs
  testgen/src/vote.rs
Labels: critical, dependencies, enhancement

#525 Testgen tester
  light-client/Cargo.toml
  light-client/tests/light_client.rs
  light-client/tests/supervisor.rs
  testgen/src/lib.rs
  testgen/src/tester.rs
Labels: enhancement, light-client, tests

#534 Adds light block generation to testgen
  testgen/Cargo.toml
  testgen/src/lib.rs
  testgen/src/light_block.rs
  testgen/src/validator.rs
Labels: enhancement, light-client
