Repository informalsystems/tendermint-rs, pull requests merged in 2021-02, with the labels that each got.

#798 Fix panic in evidence serialization
  .github/workflows/test.yml
  CHANGELOG.md
  proto/src/serializers/evidence.rs
  rpc/src/client/transport/http.rs
  rpc/src/client/transport/websocket.rs
  tools/kvstore-test/Cargo.toml
  tools/kvstore-test/Makefile.toml
  tools/kvstore-test/tests/tendermint.rs
Labels: serialization

#804 Upgrade jsonrpc to upgrade hyper
  CHANGELOG.md
  light-node/Cargo.toml
  light-node/src/commands/start.rs
  light-node/src/rpc.rs
  tendermint/src/lite.rs
  tendermint/src/public_key/pub_key_request.rs
Labels: light-node

#797 Add ABCI integration test for minimal ABCI crate
  .cargo/config
  .dockerignore
  tools/Cargo.toml
  tools/abci-test/Cargo.toml
  tools/abci-test/Makefile.toml
  tools/abci-test/src/main.rs
  tools/docker/README.md
  tools/docker/abci-harness-0.34.0/.gitignore
  tools/docker/abci-harness-0.34.0/Dockerfile
  tools/docker/abci-harness-0.34.0/entrypoint
  tools/docker/tendermint-0.34.0/.gitignore
  tools/docker/tendermint-0.34.0/Dockerfile
  tools/docker/tendermint-0.34.0/entrypoint
Labels: abci

#802 p2p: apply state machine pattern when building SecretConnection
  p2p/src/secret_connection.rs
Labels: p2p

#776 p2p: test SecretConnection
  p2p/Cargo.toml
  p2p/src/secret_connection.rs
Labels: p2p

#794 Add minimal blocking ABCI crate
  .cargo/config
  .dockerignore
  CHANGELOG.md
  Cargo.toml
  abci/Cargo.toml
  abci/README.md
  abci/src/application.rs
  abci/src/application/echo.rs
  abci/src/application/kvstore.rs
  abci/src/application/kvstore/main.rs
  abci/src/client.rs
  abci/src/codec.rs
  abci/src/error.rs
  abci/src/lib.rs
  abci/src/server.rs
  abci/tests/echo_app.rs
  abci/tests/kvstore_app.rs
  tools/Cargo.toml
  tools/abci-test/Cargo.toml
  tools/abci-test/Makefile.toml
  tools/abci-test/src/main.rs
  tools/docker/README.md
  tools/docker/abci-harness-0.34.0/.gitignore
  tools/docker/abci-harness-0.34.0/Dockerfile
  tools/docker/abci-harness-0.34.0/entrypoint
  tools/docker/tendermint-0.34.0/.gitignore
  tools/docker/tendermint-0.34.0/Dockerfile
  tools/docker/tendermint-0.34.0/entrypoint
Labels: abci
