Repository informalsystems/tendermint-rs, pull requests merged in 2022-01, with the labels that each got.

#1069 rpc: Switch hyper-proxy to use rustls (backport to v0.23.x)
  .changelog/unreleased/dependencies/1068-remove-native-tls.md
  rpc/Cargo.toml
Labels: dependencies

#1068 rpc: Switch hyper-proxy to use rustls
  .changelog/unreleased/dependencies/1068-remove-native-tls.md
  rpc/Cargo.toml
Labels: dependencies, rpc

#1071 Split out verifier parts of `tendermint-light-client` to `tendermint-light-client-verifier`
  .changelog/unreleased/breaking-changes/1027-light-client-verifier.md
  Cargo.toml
  light-client-js/Cargo.toml
  light-client-js/src/lib.rs
  light-client-js/tests/web.rs
  light-client-verifier/Cargo.toml
  light-client-verifier/src/errors.rs
  light-client-verifier/src/lib.rs
  light-client-verifier/src/operations.rs
  light-client-verifier/src/operations/commit_validator.rs
  light-client-verifier/src/operations/hasher.rs
  light-client-verifier/src/operations/voting_power.rs
  light-client-verifier/src/options.rs
  light-client-verifier/src/predicates.rs
  light-client-verifier/src/prelude.rs
  light-client-verifier/src/types.rs
  light-client-verifier/src/verifier.rs
  light-client/Cargo.toml
  light-client/examples/light_client.rs
  light-client/src/builder/error.rs
  light-client/src/builder/light_client.rs
  light-client/src/builder/supervisor.rs
  light-client/src/components.rs
  light-client/src/components/clock.rs
  light-client/src/components/io.rs
  light-client/src/components/scheduler.rs
  light-client/src/contracts.rs
  light-client/src/errors.rs
  light-client/src/evidence.rs
  light-client/src/fork_detector.rs
  light-client/src/lib.rs
  light-client/src/light_client.rs
  light-client/src/peer_list.rs
  light-client/src/state.rs
  light-client/src/store.rs
  light-client/src/store/memory.rs
  light-client/src/store/sled.rs
  light-client/src/store/sled/utils.rs
  light-client/src/supervisor.rs
  light-client/src/tests.rs
  light-client/tests/backward.rs
  light-client/tests/light_client.rs
  light-client/tests/model_based.rs
  light-client/tests/supervisor.rs
  tendermint/Cargo.toml
  tendermint/src/time.rs
  tools/kvstore-test/Cargo.toml
  tools/kvstore-test/tests/light-client.rs
Labels: no_std
